{% extends "base.html" %}
{% load static %}

{% block title_name %}
Home
{% endblock title_name %}

{% block content %}

<div class="container mx-auto w-3/4 mb-10">

    <div class="-mx-10 bg-gray-500 h-50vh mb-20 rounded-lg bg-cover bg-bottom" style="background-image: url({% static 'img/main.jpg' %})"></div>

    <div class="flex flex-wrap -mx-10">
    {% for room in rooms  %}
        {% include "mixins/room_card.html" with room=room %}
    {% endfor %}
    </div>
</div>

<div class="container mx-auto text-center">
    {% if has_previous %}
    <a href="?page={{previous}}">
        <i class="fas fa-arrow-left fa-lg text-teal-500"></i>
    </a>
    {% endif %}

    <span class="mx-2 text-lg">
        {% for page in page_range %}
            {% if page == page_obj.number %}
            <a href="?page={{page}}" class="mx-1 font-semibold">{{page}}</a>
            {% else %}
            <a href="?page={{page}}" class="mx-1">{{page}}</a>
            {% endif %}
        {% endfor %}
    </span>

    {% if has_next %}
    <a href="?page={{next}}">
        <i class="fas fa-arrow-right fa-lg text-teal-500"></i>
    </a>
    {% endif %}
</div>

{% endblock content %}