{% extends "base.html" %}

{% block title_name %}
Home
{% endblock title_name %}

{% block content %}

<div class="container mx-auto w-3/4 mb-10">

    <div class="-mx-10 bg-gray-500 h-50vh mb-20 rounded-lg bg-cover bg-bottom" style="background-image: url('https://images.unsplash.com/photo-1506816561089-5cc37b3aa9b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&w=1141&q=80')"></div>

    <div class="flex flex-wrap -mx-10">
    {% for room in rooms  %}
        {% include "mixins/room_card.html" with room=room %}
    {% endfor %}
    </div>
</div>

<div class="container mx-auto text-center">
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">
        <i class="fas fa-arrow-left fa-lg text-teal-500"></i>
    </a>
    {% endif %}

    <span class="mx-2 text-lg">
        {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">
        <i class="fas fa-arrow-right fa-lg text-teal-500"></i>
    </a>
    {% endif %}
</div>

{% endblock content %}