{% extends "base.html" %}

{% block title_name %}
Edit Photos
{% endblock title_name %}

{% block search_block %}
{% endblock search_block %}

{% block content %}

<div class="w-1/2 mb-5 mx-auto">
    <a href="{% url 'rooms:upload-photo' room.pk %}" class="btn--small bg-red-500 text-white w-1/4">Upload Photo</a>
</div>
{% for photo in room.photos.all %}
    <div class="form_style container flex mb-5 w-2/3 justify-between">
        <div class="flex items-center">
            <div class="w-32 h-32 bg-center bg-cover mr-5" style="background-image: url({{photo.file.url}})"></div>
            <div>{{photo.caption}}</div>
        </div>
        <div class="w-1/5">
            <a href="{% url 'rooms:update-photo' room.pk photo.pk %}" class="btn--small bg-teal-500 text-white">Update Photo</a>
            <a href="{% url 'rooms:delete-photo' room.pk photo.pk %}" class="btn--small bg-red-600 text-white">Delete Photo</a>
        </div>
    </div>
{% endfor %}
<div class="w-full flex justify-center my-8">
    <a href="{% url 'rooms:edit' room.pk %}" class="text-teal-500 font-medium text-lg">Back to edit room</a>
</div>

{% endblock content %}