@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  @apply ml-8 w-32 border-transparent border-b-2;
  & a {
    @apply h-full w-full flex items-center justify-center;
  }
}

.btn {
  @apply py-6 text-sm flex items-center justify-center rounded-sm mb-2;
}

.btn--small {
  @apply py-4 text-base flex items-center justify-center rounded-md mb-2;
}

input,
textarea,
select {
  @apply border border-gray-500 px-4 py-6 text-sm flex items-center rounded-sm w-full outline-none;
  &:focus {
    @apply border-teal-500;
  }
}

textarea {
  height: 100px;
  resize: none;
}

form {
  & .input {
    @apply mb-3;
  }
  & .has_error input {
    @apply bg-red-200;
  }
}

.form_style {
  @apply mx-auto border border-gray-500 px-10 py-8;
}

@keyframes messageFadeIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  5% {
    transform: translateY(50px);
    opacity: 1;
  }
  95% {
    transform: translateY(50px);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  animation: messageFadeIn 3s ease-in-out forwards;
  .error {
    @apply bg-red-500;
  }
  .info {
    @apply bg-blue-500;
  }
  .success {
    @apply bg-green-500;
  }
  .warning {
    @apply bg-orange-500;
  }
}

.border-section {
  @apply border-b border-gray-600 pb-8 mt-8;
}

@tailwind utilities;
