{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_name %}{% endblock title_name %} | Nbnb</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>
<body class="text-gray-800 mt-32">
    
<header class="container flex max-w-full items-center justify-between px-8 py-4 fixed inset-0 h-20 border-b border-gray-400 bg-white">
    <div class="flex items-center w-1/2">
        <a href="/" class="mr-5"><img class="w-10" src="{% static 'img/logo.png' %}" /></a>
        {% block search_block %}
        <form action="/rooms/search" method="GET" class="w-2/3" >
            <input class="search-box border rounded-sm px-5 py-3 w-full shadow-md hover:shadow-lg placeholder-gray-600 font-semibold outline-none" placeholder="Search by City" name="city" />
        </form>
        {% endblock search_block %}
    </div>
    {% include "partial/nav.html" %}
</header>

{% block content %}
{% endblock content %}

{% include "partial/footer.html" %}

</body>
</html>