{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_name %}{% endblock title_name %} | Nbnb</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    
<header>
    {% include "partial/nav.html" %}
    {% block search_block %}
    <form action="/rooms/search" method="GET" >
        <input placeholder="Search by City" name="city" />
    </form>
    {% endblock search_block %}
</header>

{% block content %}
{% endblock content %}

{% include "partial/footer.html" %}

</body>
</html>