{% extends "base.html" %}

{% block title_name %}
Login
{% endblock title_name %}

{% block search_block %}
{% endblock search_block %}

{% block content %}

<div class="form_style container">
    {% include "partial/social_login.html" %}
    {% include "partial/divider.html" %}

    {% include "mixins/auth/auth_form.html" with form=form cta="Log in" %}

    <div class="w-full flex items-center justify-center px-6 pt-6">
        <span class="text-gray-600 mr-3">Don't have an account?</span>
        <a href="{% url 'users:signup' %}" class="text-teal-500 font-semibold">Sign up</a>
    </div>
</div>

{% endblock content %}