{% extends "base.html" %}

{% block title_name %}
Login
{% endblock title_name %}

{% block search_block %}
{% endblock search_block %}

{% block content %}

<div class="form_style container">
    {% include "partial/social_login.html" %}
    {% include "partial/divider.html" %}

    {% include "mixins/auth/auth_form.html" with form=form cta="Log in" %}

    <div class="w-full flex items-center justify-between p-6">
        <span>Don't have an account?</span>
        <a href="{% url 'users:signup' %}" class="border border-teal-500 text-teal-500 py-2 px-4 rounded-lg">Sign up</a>
    </div>
</div>

{% endblock content %}