{% extends "base.html" %}

{% block title_name %}
Update Profile
{% endblock title_name %}

{% block search_block %}
{% endblock search_block %}

{% block content %}

<div class="form_style container xl:w-1/3 sm:w-7/12 md:w-1/2 lg:w-2/5">

    {% include "mixins/auth/auth_form.html" with form=form cta="Update profile" %}

    {% if user.login_method == "email" %}
    <div class="w-full flex items-center justify-center px-6 pt-6">
        <a href="{% url 'users:update-password' %}" class="text-teal-500 font-semibold">Change password</a>
    </div>
    {% endif %}

</div>

{% endblock content %}