{% extends "base.html" %}

{% block title_name %}
{{user.first_name}}'s Profile
{% endblock title_name %}

{% block search_block %}
{% endblock search_block %}

{% block content %}

<div>
    <div class="form_style container xl:w-1/3 sm:w-7/12 md:w-1/2 lg:w-2/5">

        <div class="flex flex-col items-center">
            
            {% include "mixins/user_avatar.html" with user=user_obj %}
            <span class="my-2 text-xl font-semibold">{{user_obj.first_name}}</span>
            <span class="my-2">{{user_obj.bio}}</span>
        </div>

        {% if user.pk == user_obj.pk %}
        <div class="w-full px-6 pt-6">
            <a href="{% url 'users:update-profile' %}" class="btn--small text-white bg-red-500 font-semibold">Edit profile</a>
        </div>
        {% endif %}
        
    </div>

    {% if user.pk == user_obj.pk %}
        {% include "mixins/user/user_reservation.html" with user=user is_hosting=request.session.is_hosting %}
    {% endif %}

    <div class="text-center text-xl font-semibold my-10">{{user_obj.first_name}}'s Rooms</div>

    <div class="flex flex-wrap my-10 mx-32">
    {% for room in user_obj.rooms.all %}
        {% include "mixins/room_card.html" with room=room %}
    {% endfor %}
    </div>
</div>

{% endblock content %}