{% load static %}

<div>
    <ul class="flex font-bold text-sm h-20">
        {% if user.is_authenticated %}
            {% if request.session.is_hosting %}
            <li class="nav_link hover:border-red-500"><a href="{% url 'users:is-hosting' %}">Stop hosting</a></li>
            <li class="nav_link hover:border-red-500"><a href="{% url 'rooms:add' %}">Create Room</a></li>
            {% else %}
            <li class="nav_link hover:border-red-500"><a href="{% url 'users:is-hosting' %}">Start hosting</a></li>
        {% endif %}
        <li class="nav_link hover:border-red-500"><a href="{% url 'users:reservations' %}">Reservations</a></li>
        <li class="nav_link hover:border-red-500"><a href="{% url 'lists:detail' %}">Favs ({{user.list.room.count}})</a></li>
        <li class="nav_link hover:border-red-500"><a href="{{user.get_absolute_url}}">Profile</a></li>
        <li class="nav_link hover:border-red-500"><a href="{% url "users:logout" %}">Log Out</a></li>
        {% else %}
        <li class="nav_link hover:border-red-500"><a href="{% url "users:login" %}">Log In</a></li>
        <li class="nav_link hover:border-red-500"><a href="{% url "users:signup" %}">Sign Up</a></li>
        {% endif %}
    </ul>
</div>