<div class="w-1/4 mb-6 px-2">
    <a href="{% url "rooms:detail" room.pk %}">
        <div class="w-full h-56 bg-center bg-cover rounded-lg mb-3" style="background-image: url('{{room.first_photo}}')"></div>
        <div>
            <div class="flex mb-2 items-center">
                {% if room.host.superhost %}
                <span class="uppercase border-2 rounded-md border-black font-semibold text-xs px-2 mr-2">superhost</span>
                {% endif %}
                <span class="text-xs text-gray-600 truncate block w-11/12 mr-1">{{room.country.name}} {{room.city}}</span>
                <i class="fas fa-star fa-xs text-red-500 mr-1"></i>
                <span class="text-xs font-semibold">{{room.total_average}}</span>
            </div>
            <div class="truncate block w-11/12 text-black text-sm font-medium">
            {{room.name}}
            </div>
        </div>
    </a>    
</div>